name: Build and Push Docker Images

on:
  push:
    branches: [main]
    tags:
      - 'v*.*.*'

env:
  REGISTRY_GHCR: ghcr.io
  IMAGE_PREFIX: nesohq/landing

jobs:
  build-and-push:
    if: github.event_name != 'pull_request'
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/docker-build.yml
    with:
      service: 'landing'
    secrets: inherit